div#rule_fields, div#action_fields, div#promo_general_fields { background: #fbfbfb;}
div.form-actions {margin-bottom: 15px;}

div.promotion_rule {border-color: #b7b7b7;}
div.promotion_action {border-color: #b7b7b7;}

div.item_total_selectors > div, div.item_total_inputs > input {
  margin-bottom: 15px;
}

div.option-value {
  padding-right: 5px;
  padding-left: 5px;
}


div.option-value > div {
  margin-top: 15px;
}

.no-marginb {
  margin-bottom: 0;
}

.no-paddingb {
  padding-bottom: 0;
}
